@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 @media (width < 767px) {

header {
    width: 200px;
    height: 80px;
    margin: 0px;
    padding: 10px;
    border: 2px;
    position: fixed;
    top:0;
    left:0;
    background-color: white; 
    z-index: 1;

}
.logoSize {
    width: 30%;
}
.artImg{
    width:90%;
}
.navUL{
	display: flex;
	flex-direction:row;
	justify-content: start;
	align-items:bottom;
	align-content:end;
	row-gap:20px;
	column-gap:10px;
}
footer {
    width: 200px;
    height: 100px;
    margin: 0px;
    padding: 10px;
    border: 2px;
    position: fixed; 
    bottom:0;
    left:0;
    width: 100%;
    background-color: white;
    z-index: 2;
}

body,p, ul, li {
    margin: 0;
    padding: 0;
}
p {
    line-height: 1.5; 
    font-size: 18px; 
}
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-image: url(images/bgImg.jpg); 
    background-size: cover; 
    background-color: grey;
    color: black; 
}
main {
    padding-top: 120px;
}
h1, h2, h3, h4 {
    margin-left: 30px;
    font-size: 1.5rem ;
}

article {
    width: 350px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.featured {
    font-size: 18px; /* Greater font size for featured articles than other articles. */
    width: 80%;
}
.ArticleHeading{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

ul{
    list-style: none;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: top;
	align-content:end;
	
}

.technicalAuthor {
    background-color: black;
    color: white;
}

.careerAuthor {
    background-color: purple;
    color: white;
}

input[required] {
    border: 2px solid red;
}

.box {
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 10px;
    border: 2px
}
}










@media (min-width: 768px) { 

header {
    width: 200px;
    height: 80px;
    margin: 0px;
    padding: 10px;
    border: 2px;
    position: fixed; /*As the name implies, fixed-positioned elements do not scroll with the rest of a document.*/
    width: 100%;
    background-color: white; /* White background for header and footer */
    z-index: 1;
    
}
.navUL{
	display: flex;
	flex-direction:row;
	justify-content: start;
	align-items:bottom;
	align-content:end;
	row-gap:20px;
	column-gap:10px;
}
footer {
    width: 200px;
    height: 80px;
    margin: 0px;
    padding: 10px;
    border: 2px;
    position: fixed; 
    bottom:0;
    left:0;
    width: 100%;
    background-color: white; /* White background for header and footer */
    z-index: 2;
}

.logoSize {
    width: 4%;
}
.artImg{
    width:100%;
}
body,p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-image: url(images/bgImg.jpg); /*not working FIX IT*/
    background-size: cover; /* Background image covering the entire viewport????howwww */
    background-color: grey;
    color: black; 
}
main {
    padding-top: 120px;
}

h1, h2, h3, h4 {
    margin-left: 30px;
    font-size: 1.5rem ;
}

article {
    width: 450px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.featured {
    font-size: 18px; /* Greater font size for featured articles than other articles. */
    width: 80%;
}

.ArticleHeading{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

ul{
    list-style: none;
	display: flex;
	flex-direction:row;
	justify-content: start;
	align-items: top;
	align-content:end;
	row-gap:5px;
	column-gap:20px;

}

.technicalAuthor {
    background-color: black;
    color: white;
}

.careerAuthor {
    background-color: purple;
    color: white;
}

input[required] {
    border: 2px solid red;
}
}
